
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type ="text/javascript">
      $(document).ready(function (){
            var socket = io.connect('http://localhost:8000');

      });
  </script>
</head>
<body>

      <form action="/">
        <button>Go back</button>
      </form>
</body>
</html>
